.cart-container{
    display: flex;
    position: fixed;
    top: 20px;
    left: 35%;
    
    right: 0;
    background-color: white;  
    width: max-content;
    outline: rgb(82, 215, 241) solid 1px;
    border-radius: 20px;
    padding: 100px;
    z-index: 100;    
    
}
/* .items-main-container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
} */
.items-main-container{
    max-height: 800px;
    overflow-y: scroll;
}

.product-button.disabled-product-button{
    background-color: grey;
    pointer-events: none;
}

.plants-category{
    margin-inline: auto;
    width: max-content;
    color: rgb(222, 70, 70);
}
